{
    "presets": [
        "razzle/babel"
    ],
    "plugins": [
        [
          "effector/babel-plugin",
          {
            "factories": ["src/pages/history-bind"]
          }
        ]
      ]
}